# Drizzle
DATABASE_URL="postgres:/posDATABASE_URL="postgresql://postgres:don@localhost:5432/postgres"

#BETTER-AUTH
BETTER_AUTH_SECRET = BRo THiS Is MY SeCRett
BETTER_AUTH_BASE_URL=http://localhost:3000 #Base URL of your appBETTET_AUTH_SECRET =


# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
